<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banco de Talentos - Recuperar Senha</title>
    
    <link rel="stylesheet" th:href="@{/css/telasenha.css}" />
  </head>
  <body>
    <div class="login-container">
      <img th:src="@{/img/logoueg.png}" alt="Logo UEG" class="logo-ueg" />
      <div class="form-box">
        
        <form onsubmit="login(); return false;">
          <div>
            <label for="senha">Senha</label>
            <input
              id="senha"
              name="senha"
              type="password"
              minlength="8"
              placeholder="Mínimo 8 caracteres"
              required
            />
          </div>

          <div>
            <label for="confSenha">Confirme a senha</label>
            <input
              id="confSenha"
              name="confSenha"
              type="password"
              minlength="8"
              placeholder="Repita a senha"
              required
            />
          </div>

          <button type-"submit" class="btn-confirmar">Confirmar</button>
        </form>

        <div class="links">
          <a href="cadastros.html">Cadastrar Usuário</a> |
          <a href="login.html">Fazer login</a>
        </div>

        <button class="btn-gov">Entrar com gov.br</button>

        <button class="btn-google">
          <img th:src="@{/img/google.png}" alt="Google" />
          Fazer Login com Google
        </button>

        <div class="footer-links">
          <a href="#">Acessar o Portal da UEG</a>
          <a href="#">Boletos de Serviços</a>
          <a href="#">Consulta Pagamento de Boletos</a>
        </div>

        <div class="logo-talentos">
          <img th:src="@{/img/banco.png}" alt="Banco de Talentos" />
        </div>
      </div>
    </div>
    
    <script src="telasenha.js"></script>
  </body>
</html>