<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Portal da Transparência Acadêmica</title>
    <link rel="stylesheet" href="/css/transparencia.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous"/>
  </head>
  <body>
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget("https://vlibras.gov.br/app");
    </script>

    <header>
      <div class="navbar">
        <button class="theme-toggle" onclick="toggleTheme()">🌓</button> 

        <header class="header-navbar">
          <nav class="navbar">
            <div class="menu-toggle" onclick="toggleMenu()">
              <i class="fas fa-bars"></i>
            </div>
            <ul class="menu-links">
              <li><a href="/principal">Home</a></li>
              <li><a href="/eventos">Eventos</a></li>
              <li><a href="/transparencia">Transparência</a></li>
              <li><a href="/perfil">Perfil</a></li>
              <li><a href="#parceiros">Andamento</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </nav>
        </header>
      </div>
    </header>

    <main>
      <div class="content">
        <h1>Portal de Transparência de Talentos Acadêmicos</h1>
        <hr style="margin: 20px 0" />

        <p>
          O Portal de Transparência de Talentos Acadêmicos é uma plataforma
          online que visa promover a visibilidade e a colaboração entre os
          servidores públicos acadêmicos de uma instituição. O portal fornece
          informações detalhadas sobre os perfis dos servidores, incluindo suas
          áreas de expertise, publicações, projetos de pesquisa e extensão, e
          experiência profissional.
        </p>
        <h2>Benefícios</h2>
        <p>
          Visibilidade: Aumente a visibilidade de sua pesquisa e trabalho
          acadêmico.
        </p>
        <p>
          Colaboração: Encontre colaboradores e parceiros para projetos de
          pesquisa e extensão.
        </p>
        <p>
          Acesso a Informações: Acesse informações detalhadas sobre os
          servidores públicos acadêmicos e suas áreas de expertise.
        </p>
        <h2>Segurança e Privacidade</h2>
        <p>
          Medidas de Segurança: O portal adota medidas de segurança para
          proteger as informações dos servidores públicos acadêmicos.
        </p>
        <p>
          Política de Privacidade: A política de privacidade do portal é clara e
          transparente, garantindo a proteção das informações pessoais dos
          usuários.
        </p>
      </div>

      <aside class="sidebar">
        <div class="highlight-box">
          <h3 style="font-size: 18px">Visão geral do Portal</h3>
          <strong>No Portal, são apresentados:</strong>
          <ul>
            <li>
              👍 Informações sobre a formação acadêmica e Dados sobre a
              experiência profissional
            </li>
            <li>
              👍 Histórico de emprego e funções exercidas e Publicações e
              trabalhos acadêmicos
            </li>
            <li>
              👍 Projetos de pesquisa desenvolvidos e os projetos em andamento
            </li>
          </ul>
          <strong>Não são apresentados:</strong>
          <ul>
            <li>
              👎 Informações pessoais não relacionadas à carreira acadêmica
            </li>
            <li>👎 Dados financeiros e informações sobre a remuneração</li>
            <li>
              👎 Dados que possam comprometer a segurança ou privacidade dos
              acadêmicos
            </li>
          </ul>
        </div>
      </aside>
    </main>

    <div class="card">
      <div class="content">
        <h1>Dados e informações disponíveis</h1>

        <hr style="margin: 20px 0" />

        <h2>Informações que estão disponíveis</h2>
        <p>
          Informações que estão disponíveis incluem formação acadêmica e títulos
          obtidos, experiência profissional e histórico de emprego, publicações
          e trabalhos acadêmicos, projetos de pesquisa desenvolvidos e em
          andamento, áreas de especialização e interesse, além de outros dados
          relevantes que podem ser úteis para entender a trajetória acadêmica e
          profissional de um indivíduo. Essas informações são apresentadas de
          forma clara e organizada para facilitar a busca e a análise de dados,
          permitindo uma visão geral detalhada e precisa das habilidades e
          realizações de cada pessoa. Com essas informações, é possível ter uma
          compreensão mais profunda das competências e áreas de expertise
          de cada indivíduo.
        </p>
        <p>
          <br />
          <strong>Conheça os itens que compõem o perfil acadêmico: </strong>
        </p>

        <div class="accordion">
          <details>
            <summary>Formação Acadêmica:</summary>
            <p>
              Informações detalhadas sobre a formação acadêmica do pesquisador
              ou acadêmico, incluindo:
            </p>
            <p>- Títulos de graduação e pós-graduação</p>
            <p>- Instituições de ensino superior frequentadas</p>
            <p>- Áreas de estudo e especialização</p>
          </details>
          <details>
            <summary>Experiência Profissional:</summary>
            <p>
              Histórico de emprego e funções exercidas em instituições de ensino
              superior ou pesquisa, incluindo:
            </p>
            <p>- Cargos ocupados e responsabilidades</p>
            <p>- Projetos e atividades desenvolvidas</p>
            <p>- Período de tempo em cada cargo ou instituição</p>
          </details>
          <details>
            <summary>Publicações e Trabalhos:</summary>
            <p>Lista de publicações e trabalhos acadêmicos, incluindo:</p>
            <p>- Artigos em periódicos científicos</p>
            <p>- Capítulos de livros e livros publicados</p>
            <p>- Trabalhos apresentados em congressos e conferências</p>
            <p>- Outras produções acadêmicas relevantes</p>
          </details>
          <details>
            <summary>Projetos de Pesquisa:</summary>
            <p>
              Informações sobre projetos de pesquisa desenvolvidos, incluindo:
            </p>
            <p>- Título e descrição do projeto</p>
            <p>- Financiamentos e agências de fomento</p>
            <p>- Resultados e impactos do projeto</p>
          </details>
          <details>
            <summary>Áreas de Interesse:</summary>
            <p>
              Áreas de especialização e interesse do pesquisador ou acadêmico,
              incluindo:
            </p>
            <p>- Linhas de pesquisa atuais</p>
            <p>- Áreas de estudo e aplicação</p>
            <p>- Interesses e objetivos de pesquisa</p>
          </details>
        </div>
      </div>
    </div>
    <div class="card">
      <h2>Perguntas Frequentes</h2>
      <div class="accordion">
        <details>
          <summary>Como acessar o portal e criar um perfil?</summary>
          <p>
            Acesse o portal através do endereço eletrônico fornecido, clique em
            "Criar Perfil" e preencha os campos obrigatórios com informações
            precisas e atualizadas. Verifique seu e-mail para confirmar a
            criação do perfil.
          </p>
        </details>

        <details>
          <summary>
            Quais informações são necessárias para criar um perfil?
          </summary>
          <p>
            Informações básicas, como nome, e-mail e departamento, áreas de
            expertise e interesses de pesquisa, publicações e projetos de
            pesquisa relevantes, e outras informações opcionais, como
            experiência profissional e habilidades.
          </p>
        </details>

        <details>
          <summary>
            Como garantir a segurança e privacidade das informações?
          </summary>
          <p>
            O portal utiliza tecnologias de segurança avançadas para proteger as
            informações dos usuários. As informações pessoais são armazenadas de
            forma segura e não são compartilhadas com terceiros sem
            consentimento. Os usuários podem controlar quais informações são
            públicas e quais são privadas.
          </p>
        </details>
      </div>
    </div>
    <footer>
      © 2025 Portal da Transparência – Banco de Talentos Acadêmicos
    </footer>
    <script src="/js/transparencia.js"></script>
  </body>
</html>